@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

mark {
  background-color: #fff9c4; /* 柔和浅黄 */
  color: #222;               /* 深色字体 */
  padding: 0 2px;
  border-radius: 2px;
}